{% extends 'main.html' %}
{% load static %}
{% block main %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-12">
            <h5 class="mt-2">S'inscrire</h5>
            <hr>
            {% if messages %}
                {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show text-center mb-4" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" id="form-login">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="first_name" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="first_name" pattern="[a-zA-Z ]*" name="first_name" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="last_name" class="form-label">Post-nom</label>
                            <input type="text" class="form-control" id="last_name" pattern="[a-zA-Z ]*" name="last_name" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="username" class="form-label">Nom</label>
                            <input type="text" class="form-control" pattern="[a-zA-Z ]*" id="username" name="username" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="numero_telephone" class="form-label">Téléphone</label>
                            <input type="number" class="form-control" id="numero_telephone" name="numero_telephone" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="email" class="form-label">Adresse email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="mb-2">
                            <label for="date" class="form-label">Date de naissance</label>
                            <input type="date" class="form-control" name="data_naiss" id="data_naiss" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="mb-2">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" name="adresse" id="adresse" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="mb-2">
                            <label for="sexe" class="form-label">Sexe</label>
                            <select name="sexe" id="sexe" class="form-control" required>
                                <option value=""></option>
                                <option value="masculin">Masculin</option>
                                <option value="feminin">Feminin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Se connecter</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/connect.js' %}"></script>
{% endblock main %}
    