{% extends 'main_app.html' %}
{% load static %}
{% block main_app %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-12">
            <h5 class="mt-2">Type de formation</h5>
            <hr>
            <div class="text-center">
                <img alt="Profil" src="{% static 'image/avatar.PNG' %}" class="img-thumbnail img-circle me-2" id="thumbnail">
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="mt-4 alert {{message.tags}} text-center message-container">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-6 col-md-6 col-lg-6">
                        <div class="mb-3">
                            <label for="title" class="form-label">Titre</label>
                            <input type="text" class="form-control" id="title" pattern="[a-zA-Z ]*" name="title" required>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <div class="mb-3">
                            <label for="file" class="form-label">Image de la formation</label>
                            <input type="file" class="form-control" id="fileImage" name="image" accept=".jpg, .png, .svg, .gif, .apng, .avif, .jpeg, .webp" required>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="container">
                        <button type="submit" class="btn btn-primary w-100">Créer</button>
                    </div>
                </div>
            </form>
            <div class="row mt-4">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr class="th">
                                <td class="title">Images</td>
                                <td class="title">Catégories</td>
                                <td class="title">Montant</td>
                                <td class="title" colspan="2">Traitement</td>
                            </tr>
                            {% for item in categories %}
                            <tr>
                                <td>
                                    {% if item.image %}
                                        <img alt="Profil" src="{{ item.image.url }}" class="rounded-circle me-2 circle profil" id="thumbnail">
                                    {% else %}
                                        <img alt="Profil" src="{% static 'image/avatar.PNG' %}" class="rounded-circle me-2 circle profil" id="thumbnail">
                                    {% endif %}
                                    </td>
                                <td class="mt-2">{{item.title | capfirst}}</td>
                                <td class="mt-2">{{item.amount | capfirst}}</td>
                                <td>
                                    <a class="" href="{% url "updateFormer" item.id %}" role="button"><i class="bi bi-pencil-square"></i></a>
                                </td>
                                <td>
                                    <a class="" href="{% url 'deleteFormer' item.id %}" role="button"><i class="bi bi-trash3-fill"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main_app %}